<span class="inline-block px-1 py-1 @(new ClassNames() {
    ["bg-gray-200"] = IsCurrent,
    ["current"] = IsCurrent,
})">
    @foreach (var segment in Word.Segments)
    {
        <span class="@(new ClassNames() {
            ["font-bold"] = segment.Attempted,
            ["text-red-500"] = segment.Incorrect,
            ["text-green-500"] = !segment.Incorrect && segment.Attempted,
        })">
            @segment.Text
        </span>
    }
</span>

@code {
    [Parameter]
    public Word Word { get; set; }

    [Parameter]
    public bool IsCurrent { get; set; } = false;
}
